.book_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  padding: 25px;
}
@media (max-width: 500px) {
  .book_card {
    width: 250px;
  }
}
.ellisis_vertial_svg {
  height: 5px;
  width: 5px;
  position: absolute;
  right: 0%;
  margin-right: 15px;
}
.book_options {
  border: 1px solid grey;
  position: absolute;
  z-index: 1;
  width: 200px;
  overflow: hidden;
  border-radius: 8px;
  right: 2%;
  /* transform: translateX(100%); */
  top: 40px;
}
.option {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.book_thumbnail {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.book_details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.detail_item {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 60px;
}
.detail {
  color: grey;
  font-size: 18px;
}
